@import "../App.scss";

.navbar-top{
    height: 38px;
    border-top: 1px solid $clr-dark;
}

.navbar-main{
    padding-top: 28px;

    &-top{
        .navbar-brand{
            span{
                @media screen and (max-width: 992px){
                    font-size: 24px;
                }

                @media screen and (max-width: 768px){
                    font-size: 20px;
                }
            }
            
        }

        .navbar-search-form{
            width: 600px;

            @media(max-width: 992px){
                display: none;
            }
        }

        .basket-btn{
            position: relative;
            .basket-count{
                position: absolute;
                top: -5px;
                right: -8px;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                background-color: $clr-white;
                color: $clr-black;
                font-size: 14px;
                font-weight: 600;
            }
        }

        .navbar-basket{
            .basket-count{
                margin-left: 22px;
            }
            .basket-count-value{
                margin-left: 8px;
            }
        }
    }

    &-bottom{
        margin-top: 20px;
        border-top: 2px dashed rgba(255, 255, 255, 0.2);

        .navbar-cats-btn{
            margin-right: 20px;
        }

        .navbar-nav{
            .nav-item{
                margin-left: 16px;
                position: relative;
                .nav-link{
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 13px;
                    color: $clr-white;
                    letter-spacing: 0.5px;

                    &:hover{
                        color: $clr-yellow;
                    }
                }

                &-active{
                    .nav-link{
                        color: $clr-yellow;
                    }

                    &::after{
                        content: "";
                        position: absolute;
                        top: calc(100% + 4px);
                        left: 0;
                        width: 100%;
                        height: 4px;
                        background-color: $clr-yellow;
                    }
                }
            }

            @media screen and (max-width: 992px){
                display: none;
            }
        }
    }

    .navbar-cats-wrapper{
        position: relative;

        .navbar-cats-btn{
            cursor: pointer;
            padding-right: 20px;
            padding-left: 20px;
        }

        .category-list{
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: $clr-white;
            box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
            height: 400px;
            overflow-y: scroll;
            padding: 12px 16px;
            transform: translateY(-100%);
            z-index: -1;

            &.show-category-list{
                z-index: 1;
                transform: translateY(0)!important;
            }

            &::-webkit-scrollbar {
                width: 6px;
            }
               
            &::-webkit-scrollbar-track {
                border-radius: 6px;
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
            }
               
            &::-webkit-scrollbar-thumb {
                background-color: rgb(194, 194, 194);
                border-radius: 6px;
            }

            .category-item{
                padding: 7px 0;
                border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);

                &-link{
                    transition: $transition-default;
                    &:hover{
                        color: $clr-primary;
                    }
                }
            }
        }
    }

    
    
}